{% extends "home.html" %}
{% block title %}success{% endblock %}

{% block sidebar %}
                <ul class="navigation">
                	<!--a href="http://192.168.1.3:8005">Home</a-->
                    <li><a href="http://bluezinfomatics.pythonanywhere.com/" class="selected menu_01">Home</a></li>
                    <li><a href="http://bluezinfomatics.pythonanywhere.com/" class="menu_02">About Us</a></li>
                    <li><a href="http://bluezinfomatics.pythonanywhere.com/" class="menu_03">Services</a></li>
                    <li><a href="http://bluezinfomatics.pythonanywhere.com/" class="menu_04">Gallery</a></li>
                    <li><a href="http://bluezinfomatics.pythonanywhere.com/" class="menu_05">Contact</a></li>
                </ul>
				{% endblock %}
{% block content %}

<div>
	<br><br>
	<center><b></>Thanks for contacting us.We will get back to you soon.</b></center>
	
</div>

{% endblock %}